*.tmproj
._*
.DS_Store
*/*.tmproj
*/.DS_Store
*/._*
*/*/*.tmproj
*/*/.DS_Store
*/*/._*
*/*/*/*.tmproj
*/*/*/.DS_Store
*/*/*/._*
*/*/*/*/*.tmproj
*/*/*/*/.DS_Store
*/*/*/*/._*
*/*/*/*/*/*.tmproj
*/*/*/*/*/.DS_Store
*/*/*/*/*/._*
*/*/*/*/*/*/*.tmproj
*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*.tmproj
*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*/*.tmproj
*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*/*/*.tmproj
*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/._*
*/*/*/*/*/*/*/*/*/*/*.tmproj
*/*/*/*/*/*/*/*/*/*/.DS_Store
*/*/*/*/*/*/*/*/*/*/._*
.buildpath
.project
.settings
