#fi_kilonkipinat_events_trips_holder {
	float: left;
	margin-right: 30px;
	width: 320px;
}

#fi_kilonkipinat_events_meetings_holder {
	float: left;
	width: 320px;
}

#fi_kilonkipinat_events_event_details {
    float: left;
    margin-right: 20px;
    width: 45%;
    min-width: 150px;
}

#fi_kilonkipinat_events_event_location_details {
    float: left;
    width: 45%;
    min-width: 150px;
}

#fi_kilonkipinat_events_event_comments {
    width: 400px;
    overflow: hidden;
    float: left;
}

#fi_kilonkipinat_events_event_comments h2 {
    margin-top: 0px;
}

#fi_kilonkipinat_events_event_comments textarea {
    width: 370px;
}

.fi_kilonkipinat_events_link_feeds_ical {
    float: right;
}